/* The report style. */
.xforce-api-report {
	position: relative;
	/* Offset. */
	left: 0;
	top: 0;
	/* Hack to make the report take up no space. */
	width: 400px;
	margin-right: -400px;
	height: 400px;
	margin-bottom: -400px;
	overflow: scroll;
	z-index: 9999;
	background-color:white;
	color: black;
	/* Hide reports. */
	display: none !important;
}

/* Only show reports for links that are hovered. */
a[href]:hover > .xforce-api-report {
	display: inline-block !important;
}