.xforce-api-report {
	position: absolute;
	/* Offset. */
	left: 0;
	top: 0;
    z-index: 99999;
}


.xforce-api-report .root {
	
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    /**min-height: 239px;
    margin-bottom: -239px;*/
    z-index:9999;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    min-width: 592.75px;
    max-width: 1024px;
    margin-right: -592.75px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px none rgb(51, 51, 51);
    border-style: outset;
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .risk-box {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 100px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 100px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: flex-end;
    perspective-origin: 50px 50px;
    transform-origin: 50px 50px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.xforce-api-report .low-risk.risk-box {
    background: rgb(86, 129, 43) url("https://exchange.xforce.ibmcloud.com/images/cross-pattern-lg.png") repeat scroll 0% 0% / auto padding-box border-box;
}
.xforce-api-report .medium-risk.risk-box {
     background: #f90 url("https://exchange.xforce.ibmcloud.com/images/cross-pattern-lg.png") repeat scroll 0% 0% / auto padding-box border-box;
}
.xforce-api-report .high-risk.risk-box {
     background: #c00 url("https://exchange.xforce.ibmcloud.com/images/cross-pattern-lg.png") repeat scroll 0% 0% / auto padding-box border-box;
}



.xforce-api-report .DIV_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 25px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 100px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    justify-content: center;
    perspective-origin: 50px 12.5px;
    transform-origin: 50px 12.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.xforce-api-report .DIV_4 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 100px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    justify-content: center;
    perspective-origin: 50px 50px;
    transform-origin: 50px 50px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 15.6px / 15.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.xforce-api-report .DIV_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    /*height: 385px;*/
    left: 0px;
    max-width: calc(-100px + 100%);
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    min-width: 692.75px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 346.375px 192.5px;
    transform-origin: 346.375px 192.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    flex: 0 1 100%;
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 32px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 5px;
}

.xforce-api-report .DIV_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    float: left;
    height: 105px;
    left: 0px;
    min-height: 1px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    min-width: 687.75px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 343.875px 52.5px;
    transform-origin: 343.875px 52.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    flex: 1 1 0%;
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}

.xforce-api-report .H2_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 75px;
    max-width: 100%;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    min-width: 118.625px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 59.3125px 37.5px;
    transform-origin: 59.3125px 37.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 13px / 14.3px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .SPAN_8 {
    box-sizing: border-box;
    color: rgb(65, 73, 77);
    display: block;
    height: 13px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(65, 73, 77);
    text-size-adjust: 100%;
    width: 118.625px;
    word-wrap: break-word;
    column-rule-color: rgb(65, 73, 77);
    perspective-origin: 59.3125px 6.5px;
    transform-origin: 59.3125px 6.5px;
    caret-color: rgb(65, 73, 77);
    border: 0px none rgb(65, 73, 77);
    font: normal normal 400 normal 12px / 13.2px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 18px 0px 4px;
    outline: rgb(65, 73, 77) none 0px;
}

.xforce-api-report .DIV_9 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 40px;
    max-width: 100%;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    min-width: 118.625px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 59.3125px 20px;
    transform-origin: 59.3125px 20px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 27px / 40.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .SPAN_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    overflow-wrap: normal;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    word-wrap: normal;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 27px / 40.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .DIV_13 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 40px;
    margin-top: -10px;
    margin-bottom: -20px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    min-width: 54.6094px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 27.2969px 20px;
    transform-origin: 27.2969px 20px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}


.xforce-api-report .DIV_38 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    min-height: 149px;
    left: 0px;
    min-height: 1px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    min-width: 343.875px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 171.938px 74.5px;
    transform-origin: 11.938px 74.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}

.xforce-api-report .H3_39, .xforce-api-report .H3_69 {
    box-sizing: border-box;
    height: 36px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    min-width: 313.875px;
    word-wrap: break-word;
    perspective-origin: 156.938px 18px;
    transform-origin: 156.938px 18px;
    border-bottom: 1px solid rgb(211, 211, 211);
    font: normal normal 400 normal 16px / 17.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 34px 0px 13px;
    padding: 16px 0px 2px;
}

.xforce-api-report .TABLE_40 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    min-height: 61px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 313.875px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 156.938px 30.5px;
    transform-origin: 156.938px 30.5px;
    caret-color: rgb(51, 51, 51);
    border-spacing: 0px 0px;
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .CAPTION_41 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(119, 119, 119);
    text-size-adjust: 100%;
    width: auto;
    word-wrap: break-word;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 8px 0px;
}

.xforce-api-report .TBODY_44 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    min-height: 61px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    min-width: 313px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 156.5px 30.5px;
    transform-origin: 156.5px 30.5px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}


.xforce-api-report .TR_49 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    min-height: 42px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    min-width: 313px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 156.5px 21px;
    transform-origin: 156.5px 21px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(128, 128, 128);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.xforce-api-report .TH_50 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    min-height: 42px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    white-space: nowrap;
    min-width: 94px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 47px 21px;
    transform-origin: 47px 21px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2.4px 10px 0px 0px;
}

.xforce-api-report .TD_51 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 42px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    width: 219px;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 109.5px 21px;
    transform-origin: 109.5px 21px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2.4px 20px 0px 0px;
}

.xforce-api-report .UL_52 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 187px;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 93.5px 15px;
    transform-origin: 93.5px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 17.1428px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: square outside none;
    margin: 0px 0px 10px 12px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}

.xforce-api-report .LI_53 {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 187px;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 93.5px 15px;
    transform-origin: 93.5px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 12px / 15.6px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: square outside none;
    margin: 0px 0px 4.2px;
    outline: rgb(51, 51, 51) none 0px;
}