/* The report style. */
.xforce-api-report {
	position: fixed;
	/* Offset. */
	left: 0;
	top: 0;
	/* Hack to make the report take up no space. */
	width: 400px;
	margin-right: -402px;
	height: 200px;
	margin-bottom: -202px;
	overflow: auto;
	z-index: 9999;
	background-color:white;
	border:black solid 1px;

	font-family: sans-serif;
}

.center{
	text-align: center;
	font-weight: bold;
	color: black;
	
}

.low-risk{
	position: absolute;

	top:0;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: green; 
}

.medium-risk{
	position: absolute;

	top:0;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: yellow; 
}
.high-risk{
	position: absolute;

	top:0;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: red; 
}
.domain{
	position: absolute;
	font-weight: bold;
	font-size: large;
	color: black;
	top:25px;
	left:60px;
}

.cats{
	position: absolute;
	font-weight: bold;
	color: black;
	top:55px;
	left:0px;
}

/* Only show reports for links that are hovered. */
a[href]:hover > .xforce-api-report {
	display: inline-block !important;
}