.xforce-hash-input {
	position: fixed;
	left: 50%;
	top: 50%;

	width: 512px;
	margin-left: -256px;
	height: 128px;
	margin-top: -64px;

	background: white;
	border: black solid 1px;

	z-index: 99999;
}