body {
	max-width: 800px;
	min-width: 400px;
	height: auto;
}

div.accordion {
	display: block;
	width: 100%;
	background-color: white;
	color: black;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans Serif", sans-serif;
}

div.accordion > .entry {
	display: block;
}

div.accordion > .entry > input[type="radio"] + label:before {
	content: "+";
	font-family: monospace;
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
	/*border: #ccc solid 1px;*/
	width: 1.15em;
	color: #0074bb;
	background-color: #fff;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
div.accordion > .entry > input[type="radio"]:checked + label:before {
	content: "-";
}


div.accordion > .entry > input[type="radio"] + label {
	display: block;
	background-color: #0074bb;
	padding: 10px;
	color: white;
}

div.accordion > .entry > input[type="radio"] {
	display: none;
}

div.accordion > .entry + .entry {
	margin-top: 1px;
}

div.accordion > .entry > input[type="radio"]:not(:checked) ~ .content {
	display: none;
}

div.accordion > .entry > input[type="radio"] + label:hover {
	background-color: #0060aa;
}

div.accordion > .entry > input[type="radio"]:checked ~ .content {
	box-shadow: inset 0px 3px 3px -3px #000;
	display: block;
}

div.context > a.interactive {
	text-decoration: none;
	color: black;
}

div.context > *:not(.interactive) {
	color: #555;
}

div.context > *.interactive:hover, details:not([open]) > summary:hover {
	background-color: #ccc;
}

div.context > * {
	display: block;
	padding: 5px 10px;
}

div.context > * + * {
	border-top: #ddd solid 1px;
}

.collection-item {
	padding: 5px;
	display: block;
	height: 50px;
}

.collection-item input[type="radio"] {
	border:black solid 1px;
	display:inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
.collection-item label {
	vertical-align: bottom;
}

.collection-item + .collection-item {
	border-top: #ddd solid 1px;
}

.collection-item .name {
	color: #0074bb;
	font-weight: bold;
}

.collection-item .owner {
	color: #555;
	float: left;
	margin-left: 21px;
	margin-right: 20px;
}

.collection-item .time {
	color: #555;
	float: right;
}
.collection-item .time:after {
	content: "";
	clear: both;
}

.loading-collections-msg {
	font-style: italic;
	display: block;
	padding: 5px;
	color: #555;
}

.no-collections-msg {
	font-style: italic;
	display: block;
	padding: 5px;
	color: #555;
}