body {
	background-color: #ddd;
	max-width: 800px;
	min-width: 200px;
}

div.context > * {
	display: block;
	width: 100%;
	list-style: none;
	background-color: #eee;
	color: black;
	font-family: "Sans Serif";
	text-decoration: none;
	border-bottom: #ddd solid 1px;
	padding: 4px;
}

details {
	border: #ddd solid 1px;
}

div.context > details:not([open]) {
	padding: 0px;
}

div.context > *:nth-last-child(1) {
	border-bottom:none;
}
details > summary {
	padding: 4px;
}
div.context > details {
	padding: 0px;
}

details[open] > summary {
	border-bottom: #ddd solid 1px;
}

div.context > *.interactive:hover, details:not([open]) > summary:hover {
	background-color: #ccc;
}

div.context > * {
	border-top: #fff solid 1px;
}

.collection-item {
	padding: 5px;
}

.collection-item input[type="radio"] {
	border:black solid 1px;
	display:inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
.collection-item label {
	vertical-align: bottom;
}

.collection-item + .collection-item {
	border-top: #ddd solid 1px;
}

.collection-item .name {
	color: #0074bb;
	font-weight: bold;
}

.collection-item .owner {
	color: #555;
	float: left;
	margin-left: 21px;
	margin-right: 20px;
}

.collection-item .time {
	color: #555;
	float: right;
}
.collection-item .time:after {
	content: "";
	clear: both;
}
